/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea,button {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;

}
button                         { cursor: pointer; padding: 0 }
select, input, textarea,button { font:12px Tahoma, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }


/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*--------------------------------------HEAD----------------------------------------*/
/*----------------------------------------------------------------------------------*/

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	height: 100%;
}

.flex-wrap{
	display: flex;
	justify-content: space-between;
}

.logo-wrap{
	background-color: #808080;
}

.top p{
	font-size: 1.5em;
	margin-top: 0.5em;
}

/*navigation*/

.navigation{
	display: flex;
	align-items: center;
	background-color: #efefe7;
	height: 4em;
	margin-top: 3em;
}

.navigation ul{
	width:50%;
	display: flex;
	justify-content: space-around;
	/*margin-top: 1.5em;*/
}

.navigation ul a{
	font-size: 1.2em;
	font-weight: bold;
}

.navigation a:hover{
	color: #FF0000;
	transition: 0.3s;
}

/*DROPDOWN NAV*/

nav{
	width: 100%;
	text-align: center;
	margin: 2em 0;
}

nav > ul{
	background-color: #efefe7;
	display: inline-block;
	border-radius: 5px;
	position: relative;
	z-index: 1;
}

nav > ul > li{
	float: left;
	cursor: pointer;
	width: 155px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
}

/*ul .drop-menu{
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	padding: 0;
}*/

ul .drop-menu li{
	display: none;
}

li:hover > ul.drop-menu li{
	display: block;
	transition: 0.6s;
}

ul.drop-menu li{
	background-color: #efefe7;
	color: black;
}


/*----------------------------------------------------------------------------------*/
/*--------------------------------------MAIN----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*Introduction*/

.introduction{
	padding: 10px 0;
	display: flex;
	justify-content: space-around;
	position: relative;
	z-index: 0;
}

.carousel-block{
	flex-basis: 60%;
}

.grey{
	background-color: #efefe7;
	position: relative;
}

aside{
	flex-basis: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.carousel-block h2{
	margin: 0.5em 0;
	padding: 0 5px;
}

.carousel-block p{
	font-size: 14px;
	padding: 0 5px;
}

.carousel-block img{
	width: 100%;
	height: auto;
}

.image{
	max-width: 120px;
	width:100%;
}

.image img{
	width: 100%;
	height: auto;
}

.aside-block{
	display: flex;
	border: 1px solid #e0e0e0;
	padding: 1px;
}

.right{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.right a{
	font-size: 14px;
	color: #699dca;
}

.right p{
	font-size: 14px;
}

.aside-block:hover{
	transform: scale(1.2);
	transition: 0.9s;
}

.grey img:hover{
	opacity: 0.7;
	transition: 0.9s;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------MAIN CONTENT------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*ARTICLE*/

.main-content{
	display: flex;
	justify-content: space-between;
	margin-top: 4em;
}

.main-content article{
	flex-basis: 20%;
}

.main-content article{
	display: flex;
	height: 350px;
	flex-direction: column;
	justify-content: space-around;
}

.news-image{
	max-width: 200px;
	width:100%;
}

.news-image img{
	width:100%;
	height: auto;
}

.main-content a{
	font-size: 14px;
	color: #699dca;
}

.main-content p{
	font-size: 14px;
}

/*HOVER BLOCK*/

.hover-block{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0, .63);
	opacity: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hover-block button{
	padding: 10px 30px;
	border-radius: 10px;
	border: none;
	font-size: 17px;
	width: 25%;
	margin: 0 auto;
}

.hover-block p{
	font-size: 20px;
	color: #fff;
	margin-bottom: 3em;
}

.grey:hover .hover-block{
	opacity: 1;
	transition: all .5s;
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

footer{
	padding: 20px 0;
	background-color: #e0e0e0;
}

/*.contact{
	max-height: 120px;
}*/

footer ul{
	display: flex;
	justify-content: space-around;
}

footer ul li{
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

footer ul li a{
	margin:3px 0;
}

.push{
	padding: 2px 10px;
	margin-left: 10px;
	background-color: #699dca;
	border: none;
}

.first a{
	color: #006CCA;
}

/*SCROLL*/

.scroll-top{
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(0,0,0,.75);
	opacity: .75;
	cursor: pointer;
	transition: .3s;
}

.scroll-top:after{
	content: "⇪";
	width: 100%;
	text-align: center;
	line-height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	color: #ffffff;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/

